.enbuyukdiv {
  background-color: #4731d3;
  width: 100%;
  height: 500px;
  margin-left: 0px;
  margin-top: 0px;
}

.yesil {
  background-color: #cbf281;
  width: 35%;
  height: 500px;
  margin-left: 65%;
}


.img{
  background-image: url(https://media.licdn.com/dms/image/C4D03AQG8XDW4D2BrNA/profile-displayphoto-shrink_200_200/0/1652622538544?e=1680739200&v=beta&t=xCLn5AEHLi0PNjJSRF_lUVaF-Q1wrowcftyyxdZh97s);
  margin-left: 850px;
  margin-top: 150px;
  width: 220px;
  height: 250px;
  /* position: absolute; */
}

