.enbuyukdiv {
  background-color: #4731d3;
  width: 100%;
  height: 500px;
  margin-left: 0px;
  margin-top: 0px;
}

.yesil {
  background-color: #cbf281;
  width: 35%;
  height: 500px;
  margin-left: 65%;
}




